
//- p= viajes si se agg = a la etiqueta html esta sae convierte en variable, el cual le pasamos el valor que creamos en el archivo router
//- #() indica que es una variable 
//- block nos ayuda a canbiar el nombre de nuestra etiqueta sin alterar el codigo, es decir lo hace mas facil llalmando block de index.pug 
extends ./layout/index
block contenido
        main.container.mt-5
            .row
                .col-md-5 
                    //-usamos la clases de boostrap para darle mas estilo a la img 
                    img(src="img/nosotros.jpg",alt="img sobre nosotros", class="img-fluid")
                .col-md-7
                     h1 #{pagina}
                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eum odit consequuntur sint assumenda illum recusandae voluptas. Natus repudiandae qui commodi esse error veniam aperiam blanditiis perspiciatis quas, similique nisi.
                     |Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusantium vitae commodi, iusto rem itaque placeat nemo fugiat odio, officia molestias, aspernatur modi a voluptatem omnis praesentium eius nihil illum?
        //- Nos muestra los iconos que implementaran esta pagina web 
        .listado-iconos
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veritatis atque nemo 

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veritatis atque nemo 

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Mejores Precio$ 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veritatis atque nemo 